.left-logo {
    width: 62px;
    height: 62px;
    margin: 10px 10px 10px 82px;
}

.left-header {
    margin-top: 20px;
    color: #fff;
    text-align: center;
}

.hiddenthings {
    display: none;
}